:root {
  --footer-width: 100%;
  --footer-height: 250px;
  --footer-logo-width: 100px;
}

footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: var(--footer-height);
  width: var(--footer-width);
  bottom: 0;
  background-color: var(--footer-background-color);
  position: relative;
  font-family: var(--default-font-family);
}

footer a {
  height: calc(var(--footer-height) - 30px);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer a img {
  height: var(--footer-logo-width);
}

footer a p {
  font-size: 40px;
  margin-bottom: 0;
  color: var(--logo-color);
  font-weight: bold;
}

footer .links {
  color: rgb(255, 255, 255);
  height: 100%;
  padding-left: 20%;
}


footer .links p {
  color: var(--logo-color);
  margin: 5px 0;
  width: 150px;
  font-size: 30px;
  border-bottom: 2px solid var(--logo-color);
}

footer .links ul {
  height: 75%;
  width: 25%;
  margin: 10px 0 0 10px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

footer .links ul li {
  margin: 5px 0;
  font-size: 18px;
}

footer .links ul li:hover,
footer .social-links ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}

footer .social-links ul {
  padding: 0;
  height: 75%;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

footer .social-links ul li {
  font-size: 100%;
  text-align: center;
  min-width: 20px;
  padding: 18px;
  border-radius: 50px;
  color: white;
  background-color: var(--logo-color);
}

footer .contact-form p {
  font-size: 25px;
  font-weight: bold;
  color: var(--logo-color);
}