:root {
  --nav-menu-background-color: rgb(30, 30, 30);
  --logo-color: rgb(55, 165, 0);
  --footer-background-color: rgb(30, 30, 30);
  --body-background-color: rgb(250, 250, 250);
  --default-CSS-transition-time: 0.2s ease-out;
  --default-font-family: Arial, Lato, Helvetica;
}

body {
  margin: 0;
  background-color: var(--body-background-color);
}

main {
  margin-top: var(--navigation-menu-height);
  background-color: var(--body-background-color);
}

@media screen and (max-width: 575px) {
  main {
    margin-top: calc(var(--navigation-menu-height) + var(--mobile-searchbar-height))
  }
}