:root {
  --nav-menu-background-color: rgb(30, 30, 30);
  --logo-color: rgb(57, 172, 0);
  --default-font-family: Arial, Lato, Helvetica;
  --default-CSS-transition-time: 0.2s ease-out;
  --footer-background-color: rgb(30, 30, 30);
}

::placeholder {
  color: white;
  opacity: 0.8;
  font-family: var(--default-font-family);
}

::ms-input-placeholder {
  color: white;
  opacity: 0.8;
  font-family: var(--default-font-family);
}

body {
  margin: 0;
}

main {
  margin-top: var(--navigation-menu-height);
}

@media screen and (max-width: 575px) {
  main {
    margin-top: calc(var(--navigation-menu-height) + var(--mobile-searchbar-height))
  }
}