:root {
  --logo-width: 80px;
  --mobile-searchbar-height: 65px;
  --navigation-menu-width: 70%;
  --navigation-menu-height: 90px;
  --dropdown-width: 45px;
  --medium-navigation-menu-height: calc(100% - var(--navigation-menu-height));
  --mobile-navigation-menu-height: calc(100% - var(--navigation-menu-height));
}

nav {
  z-index: 10;
  padding: 0 2.5%;
  width: 95%;
  top: 0;
  box-shadow: 0px 5px 15px -2px var(--nav-menu-background-color);
  height: var(--navigation-menu-height);
  background-color: var(--nav-menu-background-color);
  font-family: var(--default-font-family);
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  border-radius: 10px;
  padding: 0 1%;
  width: 30%;
  height: var(--logo-width);
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

nav a img {
  margin-right: 15px;
  width: var(--logo-width);
}

nav a h1 {
  color: var(--logo-color);
  font-size: 2rem;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  width: var(--navigation-menu-width);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  font-size: 120%;
  height: 61px;
  width: calc(100% / 5);
  border-radius: 10px;
  font-weight: 500;
  gap: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

nav ul li:hover {
  gap: 7.5%;
  transition: var(--default-CSS-transition-time);
  background-color: var(--logo-color);
}

nav ul li p {
  margin: 0;
}

.items-in-cart {
  text-align: center;
  margin: 0;
  padding: 2px;
  font-size: 20px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background-color: var(--logo-color);
  position: relative;
}

.dropdown {
  display: none;
}

nav form button {
  cursor: pointer;
}

@media screen and (max-width: 800px) {

  nav form {
    width: calc(var(--searchbar-width) + 35%);
  }

  nav ul {
    display: none;
  }

  nav .mobile-page-menu {
    width: 100%;
    left: 0;
    height: var(--medium-navigation-menu-height);
    top: var(--navigation-menu-height);
    background-color: var(--nav-menu-background-color);
    display: flex;
    flex-direction: column;
    position: fixed;
  }

  .mobile-page-menu li {
    width: 100%;
    height: calc(100% / 5);
    gap: 1%;
  }

  .mobile-page-menu li:hover,
  .mobile-page-menu li:active {
    gap: 3%;
  }

  .dropdown {
    border-radius: 10px;
    padding: calc(61px - 50px);
    height: 40px;
    width: calc(var(--dropdown-width));
    transition: var(--default-CSS-transition-time);
    display: block;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
  }

  .dropdown:hover,
  .dropdown:active {
    background-color: var(--logo-color);
    cursor: pointer;
  }

  .dropdown div {
    height: 5px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
  }

  .exit {
    background-color: var(--logo-color);
  }

  .exit .bar1,
  .exit .bar3 {
    width: 110%;
    margin-left: -5%;
    transition: var(--default-CSS-transition-time);
  }

  .exit .bar2 {
    width: 60%;
    margin-left: 40%;
    transition: var(--default-CSS-transition-time);
  }

}

@media screen and (max-width: 575px) {
  nav {
    justify-content: space-between;
  }

  nav a {
    width: 85%;
  }

  nav .mobile-page-menu {
    height: var(--mobile-navigation-menu-height);
    top: calc(var(--navigation-menu-height));
  }
}